body{
    background: gray;
color: white;
font-family: "Chakra Petch", sans-serif;
}

header{
    border-bottom: solid 2px white;
    padding: 20px;
    font-size: 20px;
}

.chamada{
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto{
    margin-right: 5%;
}

h1{
    font-size: 28px;
}

p{
    font-size: 20px;
}

img{
    height: 200px;
}

.categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 10px;
    margin-bottom: 100px;
}

.categoria{
    padding-left: 20px;
    padding-right: 20px;
}

.categoria-videos img{
    opacity: 0.6;
    height: 200px;
}

.categoria-videos img:hover{
    opacity: 1.0;
    border: 2px solid white;
}